[Desktop Entry]
Type=Application
Version=1.0
Name=Process Viewer
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
Exec=htop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
