[Desktop Entry]
Type=Application
Exec=lxqt-config
Icon=preferences-system
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=System Configuration Center
GenericName=System Settings
Comment=Configure your system
